name: CI/CD

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  TESTING: "false"  # Add this to explicitly disable testing
  SKIP_TESTS: "true"  # Add this to explicitly skip tests
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  DESCOPE_PROJECT_ID: ${{ secrets.DESCOPE_PROJECT_ID }}
  DESCOPE_MANAGEMENT_KEY: ${{ secrets.DESCOPE_MANAGEMENT_KEY }}
  STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
  DRAW_TIME_HOUR: "20"
  DRAW_TIME_MINUTE: "0"
  DRAW_TIMEZONE: "US/Eastern"
  DEV_ADMIN_SECRET: ${{ secrets.DEV_ADMIN_SECRET }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy to Vercel
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          CI: false  # Add this to skip CI checks
        run: |
          npm install -g vercel
          vercel pull --yes --environment=production --token=$VERCEL_TOKEN
          vercel build --prod --token=$VERCEL_TOKEN
          vercel deploy --prod --token=$VERCEL_TOKEN
